.header {
  padding: 0 89px;
  background-color: #1c2b35;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 3rem;
  transition: 0.2s ease;
}
.header a:hover {
  color: orange;
}
